.footer {
    text-align: center;
    color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1em;
}
.footer a {
    text-decoration: none;
    color: grey;
    font-weight: 300;
}
#reacthub {
    height: 100%;
}