@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-size: 16px;
}
.main-container {
    text-align: center;
    padding: 10%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.main-container h1, .main-container p {
    color: #ffffff;
}
.main-container h1 {
    font-size: 6em;
    font-weight: 500;
}
.search-bar {
    width: 60%;
    height: 4em;
    margin: 3%;
}
.ui.input.search-bar {
    font-size: 1.5em;
}